/* General styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
  box-sizing: border-box;
  background-image: url('https://static.vecteezy.com/system/resources/previews/013/022/579/original/weather-in-flat-design-free-vector.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.sunny-background {
  background-image: url('https://static.vecteezy.com/system/resources/previews/007/637/871/original/cute-summer-sunny-day-weather-character-smiling-with-clouds-in-yellow-background-illustration-vector.jpg');
  background-size: cover;
}

.cloudy-background {
  background-image: url('https://media.istockphoto.com/id/1163292935/vector/blue-sky-and-clouds-seamless-vector-background.jpg?s=612x612&w=0&k=20&c=D7O-gsjnxIzQcL9WTNNkqr6H1IqM7fGYKGSLg-NSfdg=');
  background-size: cover;
}

.rainy-background {
  background-image: url('https://i.pinimg.com/1200x/95/51/f9/9551f998e02915317709c589103fb7e9.jpg');
  background-size: cover;
}

.snowy-background {
  background-image: url('https://cdn.pixabay.com/photo/2016/03/31/22/33/landscape-1297082_640.png');
  background-size: cover;
}

.foggy-background {
  background-image: url('https://ewscripps.brightspotcdn.com/dims4/default/d9ff0bf/2147483647/strip/true/crop/1920x1080+0+0/resize/1280x720!/quality/90/?url=http%3A%2F%2Fewscripps-brightspot.s3.amazonaws.com%2Fd3%2F0d%2F009a2fae401a855d540f1034276f%2Fslot3.jpg');
  background-size: cover;
}

.thunderstorm-background {
  background-image: url('https://static.vecteezy.com/system/resources/previews/024/390/840/non_2x/summer-thunderstorms-storm-clouds-thunderstorm-lightning-and-rainy-weather-thunder-and-lightnings-craft-paper-illustration-vector.jpg');
  background-size: cover;
}

.partly-cloudy-background {
  background-image: url('https://st4.depositphotos.com/1024345/38707/v/600/depositphotos_387072116-stock-illustration-clear-summer-sky-with-white.jpg');
  background-size: cover;
}

.overcast-background {
  background-image: url('https://img.freepik.com/free-vector/dark-gray-clouds-background-papercut-style_1017-26303.jpg?size=626&ext=jpg&ga=GA1.1.1546980028.1703376000&semt=ais');
  background-size: cover;
}

.mist-background {
  background-image: url('https://static.vecteezy.com/system/resources/previews/008/277/966/non_2x/landscape-of-mountains-and-pine-forests-the-mist-is-above-the-mountains-free-vector.jpg');
  background-size: cover;
}

.showers-background {
  background-image: url('https://www.apollodiagnostics.in/images/home/blogs/Monsoon%20Season_Diagnostics.jpg');
  background-size: cover;
}

.default-background {
  background-image: url('https://static.vecteezy.com/system/resources/previews/013/022/579/original/weather-in-flat-design-free-vector.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}


.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  position: relative;
}


*, *:before, *:after {
  box-sizing: inherit;
}


.App {
  text-align: center;
  background: linear-gradient(135deg, #74ebd5 0%, #acb6e5 100%);;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

h1 {
  color: #147ef7;
  font-size: 2rem;
  margin-bottom: 20px;
}

.suggestions {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-top: 5px;
  padding: 0;
  list-style-type: none; /* Remove default bullets */
  max-height: 150px;
  overflow-y: auto;
  z-index: 1;
}

.suggestions li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.suggestions li:hover {
  background-color: #f0f0f0;
}


/* Form styles */
form {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #4A90E2;
  border-radius: 5px;
  margin-right: 10px;
  width: 60%;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #4A90E2;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #357ABD;
}

/* Weather info styles */
.weather-info {
  text-align: left;
  padding: 20px;
  border-radius: 10px;
  background: #f7f7f7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 360px;
}

.weather-info h2 {
  color: #17467d;
  margin-top: 0;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.weather-details {
  display: flex;
  align-items: center;
}

.weather-icon {
  flex: 0 0 64px;
  margin-right: 20px;
}

.weather-stats {
  flex: 1;
}

.weather-stats p {
  margin: 10px 0;
  font-size: 1.1rem;
}

.weather-stats p:last-child {
  margin-bottom: 0;
}

.temperature {
  font-size: 1.5rem;
  font-weight: bold;
  color: #e74c3c;
}

.condition {
  font-size: 1.2rem;
  font-style: italic;
  color: #2980b9;
}

.feels-like {
  color: #27ae60;
}

.humidity, .wind {
  color: #8e44ad;
}

img {
  width: 64px;
  height: 64px;
  vertical-align: middle;
}

/* Footer styles */
.footer {
  text-align: center;
  padding: 10px;
  background-color: #4A90E2;
  color: white;
  width: 100vw;
  font-size: 0.9rem;
  position: absolute;
  bottom: 0;
}
